.nas{
  color: #51459E;
  font-weight: 600;
  margin: 0px 0px 0px 0px;
}

.list{
  border: #FFFFFF;
  padding: 10px;
  text-align: center;
  background-color: #FFFFFF;
  margin: 10px;
  width: 40vh;
}

.display{
  display: flex;
  justify-content: space-between;
  overflow-y: hidden;
}

.navbar{
  width: 40vh;
  position: relative;
  left: -12px;
}

.line-chart{
  position: relative;
  left: -25em;
  bottom: -5em;
}