.nas{
  color: #51459E;
  font-weight: 600;
  margin: 0px 0px 0px 0px;
}

.list{
  border: #FFFFFF;
  padding: 10px;
  text-align: center;
  background-color: #FFFFFF;
  margin: 10px;
  width: 40vh;
}
